.button_container {
  text-align: center;
  padding: 0.5em 2em;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.6em;
}

.button_primary {
  color: var(--white);
  background-color: var(--primary);
}

.button_secondary {
  color: var(--primary);
  background-color: var(--white);
  border: 2px solid var(--primary);
}
