.card{
    width: 84%;
    margin: 2% 8%;
    display: inline-grid;
    grid-template-columns: 34% 33% 33%;
    /* grid-template-rows: 34% 33% 33%; */
    grid-template-areas:
        'image name name'
        'image price price'
        'image quantity remove';
}

.image {
    grid-area: image;
}

.image img {
    width: 100%;
    object-fit: contain;
}

.card .product_name {
    grid-area: name;
    font-size: 1em;
    padding: 0 0.5em;
    margin: 0;
}

.card .product_price {
    grid-area: price;
    font-size: 0.8em;
    padding: 0 0.5em;
    margin: 0;
}

.card .btn{
    padding: 0;
    margin: 0.5em;
    border: 0.01em solid black;
}

.card button {
    all: unset;
}

.card .quantityBtn {
    grid-area: quantity;
    
}

.card .removeBtn {
    grid-area: remove;
    width: 100%;
    background-color: white;
    border: none;
    color: black;
    font-size: 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 0;
    margin: 0.5em;
    border: 0.01em solid black;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}